A developer's guide to the Internet of Things (IoT)/assignment1.txt
[{"id":"af9604c8.2ebf48","type":"inject","z":"d628581b.f53fa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":159,"y":75,"wires":[["5c74ee7c.2a6af"]]},{"id":"5c74ee7c.2a6af","type":"random","z":"d628581b.f53fa8","name":"","low":"1","high":"10","inte":"true","x":274,"y":143,"wires":[["59199a67.dbb6a4"]]},{"id":"59199a67.dbb6a4","type":"switch","z":"d628581b.f53fa8","name":"CheckWhetherLowOrHigh","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"str"},{"t":"gte","v":"5","vt":"str"}],"checkall":"true","outputs":2,"x":263,"y":225,"wires":[["5f47651d.65b10c"],["7eda6c08.ddb664"]]},{"id":"5f47651d.65b10c","type":"template","z":"d628581b.f53fa8","name":"Low Number","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Number {{payload}} is a low number","output":"str","x":507,"y":166,"wires":[["54fe4a14.ad7ed4"]]},{"id":"7eda6c08.ddb664","type":"template","z":"d628581b.f53fa8","name":"High Number","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Number {{payload}} is a high number","output":"str","x":504,"y":269,"wires":[["54fe4a14.ad7ed4"]]},{"id":"54fe4a14.ad7ed4","type":"debug","z":"d628581b.f53fa8","name":"","active":true,"console":"false","complete":"false","x":712,"y":209,"wires":[]}]