A developer's guide to the Internet of Things (IoT)/assignment2.txt
[{"id":"ece6dc09.a0669","type":"random","z":"d94f7893.dde918","name":"","low":"1","high":"10","inte":"true","x":247,"y":229,"wires":[["962f6ce1.1eef2"]]},{"id":"a06e222a.a2e1a","type":"http in","z":"d94f7893.dde918","name":"/time","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":97,"y":143,"wires":[["d4bc0504.a7fae8"]]},{"id":"d4bc0504.a7fae8","type":"function","z":"d94f7893.dde918","name":"GetServerTime","func":"var datetime = new Date();\nvar hour = datetime.getHours();\nhour = (hour < 10 ? \"0\" : \"\") + hour;\nvar min = datetime.getMinutes();\nmin = (min < 10 ? \"0\" : \"\") + min;\nflow.set('time', hour+\":\"+min);\nmsg.payload={\"time\": hour+\":\"+min};\nreturn msg;","outputs":1,"noerr":0,"x":271,"y":84,"wires":[["4982e4c5.d2a10c"]]},{"id":"4a35f31d.5d4bec","type":"http response","z":"d94f7893.dde918","name":"","statusCode":"","headers":{},"x":667,"y":89,"wires":[]},{"id":"4982e4c5.d2a10c","type":"function","z":"d94f7893.dde918","name":"Set Content Type","func":"msg.headers={\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":60,"wires":[["4a35f31d.5d4bec"]]},{"id":"3d98108e.09d21","type":"http in","z":"d94f7893.dde918","name":"/random","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":92,"y":274,"wires":[["ece6dc09.a0669"]]},{"id":"962f6ce1.1eef2","type":"function","z":"d94f7893.dde918","name":"Set Content Type","func":"var datetime = new Date();\nvar hour = datetime.getHours();\nhour = (hour < 10 ? \"0\" : \"\") + hour;\nvar min = datetime.getMinutes();\nmin = (min < 10 ? \"0\" : \"\") + min;\nflow.set('RandomTime', hour+\":\"+min);\nflow.set('RandomNumber',msg.payload);\nmsg.headers={\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":419,"y":157,"wires":[["70cc57d.cbe1da8"]]},{"id":"9da78ca9.ce242","type":"http response","z":"d94f7893.dde918","name":"","statusCode":"","headers":{},"x":771,"y":300,"wires":[]},{"id":"70cc57d.cbe1da8","type":"template","z":"d94f7893.dde918","name":"CreateJsonString","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"random\":{{payload}} }","output":"str","x":625,"y":227,"wires":[["9da78ca9.ce242"]]},{"id":"64609dd3.531ff4","type":"function","z":"d94f7893.dde918","name":"Get server time /time ","func":"var serverTime = flow.get('time');\nvar lastRandomNumber = flow.get('RandomNumber');\nvar lastNumberGenerated = flow.get('RandomTime');\nvar output;\nif(serverTime !== undefined)\n    output = \"Time last server time request received at \" +serverTime+\"\\n\";\nelse\n    output = \"No server time requests have been received \\n\" ;\nif(lastRandomNumber !== undefined && lastNumberGenerated !== undefined)\n    output += \"Last random number request returned \"+lastRandomNumber+\", which was received at \"+lastNumberGenerated;\nelse\n    output += \"No requests for random numbers have been received\";\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":334,"wires":[["89b47387.f9091"]]},{"id":"1741a6b1.526629","type":"http in","z":"d94f7893.dde918","name":"/page","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":97,"y":369,"wires":[["64609dd3.531ff4"]]},{"id":"89b47387.f9091","type":"http response","z":"d94f7893.dde918","name":"","statusCode":"","headers":{},"x":496,"y":403,"wires":[]}]