A developer's guide to the Internet of Things (IoT)/assignment3.txt
[{"id":"c1468b23.ea43f8","type":"inject","z":"871cde8b.ede77","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":110,"y":140,"wires":[["afec06b0.c81fd8"]]},{"id":"afec06b0.c81fd8","type":"exec","z":"871cde8b.ede77","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"","x":270,"y":80,"wires":[["1aae56c1.49aa19"],[],[]]},{"id":"1aae56c1.49aa19","type":"function","z":"871cde8b.ede77","name":"","func":"var str = msg.payload;\nmsg.payload = {\"d\" : {\"temp\" : parseInt(str.substring(5,str.length-3))}} \nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["ef543c51.9255c"]]},{"id":"ef543c51.9255c","type":"wiotp out","z":"871cde8b.ede77","authType":"d","qs":"true","qsDeviceId":"ef543c51.9255c","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":491,"y":227,"wires":[]}]