IOT Enabled Smart Car Parking/Node-Red Flow - Car Parking.txt
[{"id":"d2eef37.eb8121","type":"ibmiot in","z":"60ed43c2.4a8b8c","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"00a7f1d92a82","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":71.00347900390625,"y":134.94097137451172,"wires":[["229917bd.d189a8"]]},{"id":"f76ae5a6.67c608","type":"template","z":"60ed43c2.4a8b8c","name":"template_distance","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n<script\n  src=\"https://code.jquery.com/jquery-3.2.1.min.js\"\n  integrity=\"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=\"\n  crossorigin=\"anonymous\"></script>\n<style>\n.car {\n   float: left;\n   margin: 10px;\n   padding: 10px;\n   max-width: 600px;\n   width: 200px;\n   height: 250px;\n   border: 1px solid black;\n   background-color: white\n} \n.blue{\n    background-color: #d5f4e6\n}\n.white{\n    background-color: white;\n}\n.orange {\n\t\tbackground-color: orange;\n\t}\n\t\n.green {\n\t\tbackground-color: green;\n\t}\n</style>\n<title>Car Parking Availability</title>\n<script>\n\t$(document).ready(function(){\n\t\tbtnClicked();\n\t\tsetTimeout(function(){ location.reload() },4000);\n\t});\n\nfunction btnClicked(){\n\tvar dist = {{payload.distance}};\n\tif(dist<=9){\n\t   // $(\"#slot1\").addClass(white);\n\t\t$(\"#car\").show();\n\t}else{\n\t   // $(\"#car\").addClass(blue);\n\t    $(\"#car\").hide();\n\t}\n\t\t\n\n\tvar dist1 = {{payload.distance1}};\n\tif(dist1<=9){\n\t    //$(\"#slot2\").addClass(white);\n\t\t$(\"#car1\").show();\n\t}else{\n\t    //$(\"#slot2\").addClass(blue);\n\t\t$(\"#car1\").hide();\n\t}\n}\n\t</script>\n</head>\n\n<body>\n<h1>IOT Enabled Car Parking</h1>\n\n<div id=\"slot1\" class=\"car\" >\n  <h3>Slot1</h3>\n  <img id=\"car\" src=\"https://git.ng.bluemix.net/kajal_doshi/IoT_Technothon_App_Demo/raw/95835c6e067938862c16b29b1ae4db76a2499e8a/public/images/car.jpg\" hidden>\n </div>\n\n<div id=\"slot2\" class=\"car\">\n \t<h3>Slot2</h3>\n\t <img id=\"car1\" src=\"https://git.ng.bluemix.net/kajal_doshi/IoT_Technothon_App_Demo/raw/95835c6e067938862c16b29b1ae4db76a2499e8a/public/images/car.jpg\" hidden>\n</div>\n</body>\n","output":"str","x":570.99658203125,"y":199.21533203125,"wires":[["c5e5ff29.649bc"]]},{"id":"dd690834.5592f8","type":"debug","z":"60ed43c2.4a8b8c","name":"","active":true,"console":"false","complete":"false","x":666.99658203125,"y":65.21875,"wires":[]},{"id":"402e2fa1.117ab","type":"http in","z":"60ed43c2.4a8b8c","name":"","url":"carParking","method":"get","upload":false,"swaggerDoc":"","x":145,"y":290.1007080078125,"wires":[["faa6df41.79202"]]},{"id":"c5e5ff29.649bc","type":"http response","z":"60ed43c2.4a8b8c","name":"","statusCode":"","headers":{},"x":683.99658203125,"y":292.9444885253906,"wires":[]},{"id":"229917bd.d189a8","type":"function","z":"60ed43c2.4a8b8c","name":"flow function to set distance","func":"flow.set('distance',msg.payload.d.Distance)\nflow.set('distance1',msg.payload.d.Distance1)\nreturn msg;","outputs":1,"noerr":0,"x":308.0034637451172,"y":73,"wires":[["dd690834.5592f8"]]},{"id":"faa6df41.79202","type":"function","z":"60ed43c2.4a8b8c","name":"getDistance from flow","func":"msg.payload= {'distance':flow.get('distance'),'distance1':flow.get('distance1')}\nreturn msg;","outputs":1,"noerr":0,"x":343.0035095214844,"y":222.00347900390625,"wires":[["f76ae5a6.67c608"]]}]
