Node-Red Flows for practise/MQTTBroker-SubscribePublish.txt
[{"id":"9c499d41.96708","type":"mqtt out","z":"80a51da3.82fab","name":"","topic":"Test/hello","qos":"0","retain":"","broker":"f3db27ac.009158","x":493,"y":98,"wires":[]},{"id":"34e9be59.715bc2","type":"inject","z":"80a51da3.82fab","name":"","topic":"Test/hello","payload":"Hello Ppl !!","payloadType":"str","repeat":"","crontab":"","once":false,"x":191,"y":96,"wires":[["9c499d41.96708"]]},{"id":"cbfcd82e.a97f68","type":"mqtt in","z":"80a51da3.82fab","name":"","topic":"Test/hello","qos":"0","broker":"f3db27ac.009158","x":160,"y":237,"wires":[["363fbea4.23e492"]]},{"id":"363fbea4.23e492","type":"debug","z":"80a51da3.82fab","name":"","active":true,"console":"false","complete":"payload","x":477,"y":236,"wires":[]},{"id":"f3db27ac.009158","type":"mqtt-broker","z":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]