Node-Red Flows for practise/ReadTempDataFromArduinoAndDisplayonUI.txt
[{"id":"d20c0ce9.c0a0a","type":"template","z":"a4180aec.070b78","name":"Formatting response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n\t<title> Demo </title>\n\t<style>\n\t.highlight{\n\tbackground-color:green;\n\t}\n\t</style>\n\t<script src=\"https://code.jquery.com/jquery-3.2.1.min.js\" integrity=\"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=\" crossorigin=\"anonymous\"></script>\n</head>\n<body>\n\t<h2>Demo Page</h2>\n\t<button id=\"btn1\"> Get Temp</button>\n\t<div id=\"temp\"></div>\n\t<script>\n\t\t$(document).ready(function(){\n\t\t\t$(\"#btn1\").click(btnClicked);\n\t\t});\n\n\t\tfunction btnClicked(){\n\t\t\t$(\"#temp\").text({{payload.temp}});\n\t\t\t$(\"#temp\").addClass('highlight');\n\t\t}\n\t</script>\n","output":"str","x":596,"y":342,"wires":[["818913f1.8f0c4"]]},{"id":"5cd46b34.44f824","type":"template","z":"a4180aec.070b78","name":"Temp is crtitical","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The Temperature is critical :{{payload.d.temp}}!","output":"str","x":544,"y":62,"wires":[["69eac98b.4d5f48"]]},{"id":"d91e5233.c4d3a","type":"ibmiot in","z":"a4180aec.070b78","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"3de668da0385","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":55,"y":94,"wires":[["35956db7.466672","597e2833.b2b388"]]},{"id":"69eac98b.4d5f48","type":"debug","z":"a4180aec.070b78","name":"","active":true,"console":"false","complete":"false","x":777,"y":116,"wires":[]},{"id":"14f97cfe.fc44e3","type":"switch","z":"a4180aec.070b78","name":"","property":"payload.d.temp","propertyType":"msg","rules":[{"t":"gt","v":"40","vt":"str"},{"t":"lte","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":353,"y":111,"wires":[["5cd46b34.44f824"],["eaebc174.e5c8c"]]},{"id":"eaebc174.e5c8c","type":"template","z":"a4180aec.070b78","name":"Temp within limit","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature is within the limit:{{payload.d.temp}}!","output":"str","x":545,"y":174,"wires":[["69eac98b.4d5f48"]]},{"id":"35956db7.466672","type":"debug","z":"a4180aec.070b78","name":"","active":true,"console":"false","complete":"payload","x":228,"y":175,"wires":[]},{"id":"86cdd2f2.11adc","type":"http in","z":"a4180aec.070b78","name":"","url":"/getTemp","method":"get","upload":false,"swaggerDoc":"","x":137,"y":363,"wires":[["a7cf8720.5d0ce8"]]},{"id":"818913f1.8f0c4","type":"http response","z":"a4180aec.070b78","name":"","statusCode":"","headers":{},"x":679,"y":427,"wires":[]},{"id":"597e2833.b2b388","type":"function","z":"a4180aec.070b78","name":"Set temperature","func":"flow.set('temp',msg.payload.d.temp);\nreturn msg;","outputs":1,"noerr":0,"x":233,"y":31,"wires":[["14f97cfe.fc44e3"]]},{"id":"a7cf8720.5d0ce8","type":"function","z":"a4180aec.070b78","name":"Get temperature","func":"msg.payload = {'temp':flow.get('temp')};\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":317,"wires":[["d20c0ce9.c0a0a"]]}]